<footer>
    <div class="row d-flex justify-content-center  mt-auto py-2">
        <div class="col-6 d-flex justify-content-around">
            <a href="">About</a>
            <a href="contact.html">Contact</a>
            <a href="">Help</a>
        </div>
    </div>
</footer>