<% layout('layouts/boilerplate') %>
    <div class="card col-lg-6 mx-auto px-0 align-items-center">
        <h1 class="card-title">Login</h1>



        <form action="/users/login" method="POST" class="validated-form" novalidate>
            <div class="mb-3">
                <label class="form-label" for="username">Username:</label>
                <input class="form-control" type="text" id="username" name="username" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="password">Password:</label>
                <input class="form-control" type="password" id="password" name="password" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <button class="btn btn-success btn-block">Login</button>

        </form>
    </div>